/*
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Basic */

	header.major {
		padding-bottom: 0.25em;
	}

	header.special {
		margin-bottom: 4em;
		padding-top: 5em;
	}

		header.special:before, header.special:after {
			width: 40%;
		}

		header.special h2 + p {
			padding-top: 1.25em;
		}

/* Section/Article */

	section {
		margin: 1em 0 1em 0;
	}

		section:first-child {
			margin-top: 0;
		}

/* Button */

	input[type="button"].small,
	input[type="submit"].small,
	input[type="reset"].small,
	.button.small {
		font-size: 0.8em;
		min-width: 18em;
		padding: 0.75em 0;
	}

/* List */

	ul.featured-icons {
		margin: 0;
	}

		ul.featured-icons li {
			display: inline-block;
			float: none;
			width: auto;
		}

			ul.featured-icons li .icon {
				font-size: 4em;
				width: 1.25em;
			}

	ul.buttons li {
		display: block;
		padding: 1em 0 0 0;
	}

/* Header */

	#header {
		display: none;
	}

/* Banner */

	#banner {
		margin: 0;
	}

/* Wrapper */

	.wrapper.special-alt {
		text-align: center;
	}

	.wrapper.style4 {
		padding-bottom: 3em;
	}

/* Main */

	#main {
		padding: 5em 0;
	}

		#main .sidebar {
			border-top: solid 1px rgba(124, 128, 129, 0.1);
			padding-top: 3em;
		}

			#main .sidebar section {
				border-top: 0;
				padding-top: 0;
			}

	body.index #main {
		padding-top: 4.5em;
	}

/* CTA */

	#cta {
		margin: 0;
	}

/* Footer */

	#footer {
		padding: 3em 1.5em;
	}